
.appWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  background: #F8F8F8;
}
.contentWrapper {
  width: 100%;
  max-width: 1170px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.workersListWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 140px;

  .titleWrapper{
    width: 85%;
    //background: blue;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}