.errorContainer {
  width: 100%;

  display: flex;
  justify-content: center;

  background: rgb(203,114,114, 0.5);
  padding: 10px 0;
  border-radius: 5px;

  span {
    padding: 5px;
    color: red;

    font-family: Jost,sans-serif;
    font-size: 1.2em;
  }
}