

.titleContainer {
  width: 100%;
  display: flex;

  justify-content: center;

  .title {
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    text-align: center;
  }
}