@use "src/styles-variables/constants" as stylesConstructions;

.container {
  width: 100%;

  @include stylesConstructions.fontText;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;




  .title {
    display: flex;
    height: 30px;
  }
}