@use "../../../constants/styles-constatnts/constants" as stylesConstructions;

.bannerContainer {
  width: 100%;
  max-width: 1170px;
  height: 650px;

  display: flex;
  position: relative;

  img {
    @include stylesConstructions.fillAllSpace;
  }

  @media all and (max-width: 768px){
    height: 500px;
  }
}

.bannerContentWrapper {
  position: absolute;

  @include stylesConstructions.fillAllSpace;
  @include stylesConstructions.flex-center;
}

.bannerContentContainer {
  width: 386px;
  height: 323px;

  @include stylesConstructions.flex-column-center;
  justify-content: space-between;
  align-self: center;

  .titleWrapper {
    height: 70px;

    span {
      color: white;
    }

  }

  .textWrapper {
    span {
      color: white;
    }

    @media all and (max-width: 360px){
      height: 182px;
    }
  }

  .buttonContainer {
    width: 100%;
    @include stylesConstructions.flex-center;
  }

  @media all and (max-width: 360px){
    width: 328px;
    height: 389px;
    margin-top: -30px;
  }
}