@use "../../../../constants/styles-constatnts/constants" as stylesConstructions;


.card {
  width: 370px;
  height: 254px;

  background: white;

  box-sizing: border-box;
  padding: 0 20px;

  @include stylesConstructions.flex-column-center;
  justify-content: space-around;

  margin-bottom: 29px;
  border-radius: 10px;

  @media all and (max-width: 1170px){
    width: 282px;
    height: 254px;
  }

  @media all and (max-width: 980px){
    width: 344px;
    height: 254px;
    margin-bottom: 16px;
  }

  @media all and (max-width: 480px){
    margin-bottom: 20px;
  }
}

.avatarContainer {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  margin-top: 10px;

  overflow: hidden;
  img {
    @include stylesConstructions.fillAllSpace;
  }
}

.info {
  width: 85%;
  margin-bottom: 10px ;
}

.nameContainer,.position, .email, .phone{
  width: 100%;
  position: relative;

  @include stylesConstructions.flex-center;
  @include stylesConstructions.fontText;

  &:hover{
    cursor: pointer;
    &:after {
      content : attr(data-tip);
      position: absolute;
      z-index: 111;

      padding: 3px 16px;
      border-radius: 4px;

      background: rgba(0, 0, 0, 0.87);
      color: #F8F8F8;

      top: 30px;
      left: 70px;
    }
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  };
}


